main#ver-container {
  text-align: center !important;
  margin: auto;
}

#ver-container h2 {
  font-size: 2.2rem;
}

.pills-section {
  background-color: #f8f8f8;
}

.card {
  margin-bottom: 1rem;
  overflow: hidden;
}

div.img-container {
  transition: all 1s;
  width: 100%;
  overflow: hidden;
}

div.img-container:hover {
  transform: scale(1.2);
}


.card-title {
  font-size: 1.6rem;
}

.card-text {
  font-size: 1rem;
  color: rgb(90, 90, 90);
}
