<main id="container">
  <div class="overlay py-4 wow slideInRight" data-wow-duration="2s">
    <div class="intro-text py-5">
      <h3 class="text-success">
        <span class="text-success d-block pl-5">يَا أَيُّهَا النَّاسُ كُلُوا مِمَّا فِي الْأَرْضِ حَلَالًا
          طَيِّبًا</span>
        <span class="text-danger pr-5 d-block">
          وَلَا تَتَّبِعُوا خُطُوَاتِ الشَّيْطَانِ ۚ إِنَّهُ لَكُمْ عَدُوٌّ
          مُّبِينٌ
        </span>
      </h3>

      <p class="text-info">
        مرحبا بك في تطبيق ودق لتصنيف الأطعمة من حيث جنسها وحكمها
      </p>
      <p class="text-info">لمعرفة المزيد اختر أحد الصنفين التاليين</p>
    </div>
    <div class="intro-btns d-flex justify-content-center">
      <a routerLink="/vegetarian" class="btn btn-lg btn-success shadow-none">نباتى</a>
      <a routerLink="/animal" class="btn btn-lg btn-danger shadow-none">حيوانى</a>
    </div>
  </div>
</main>
